<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ezen.nowait.code.mapper.CodeMapper">
	
	<select id="selectList" resultType="ezen.nowait.code.domain.CodeVO">
		select * from code where id = #{id}
	</select>
	
	<select id="selectOne" parameterType="hashMap" resultType="ezen.nowait.code.domain.CodeVO">
		select * from code where id = #{id} and name = #{name}
	</select>
	
</mapper>