<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ezen.nowait.store.mapper.MenuOptionMapper">

	<select id="selectOptionList" resultType="ezen.nowait.store.domain.MenuOptionVO">
		select * from menu_option where menu_num = #{menuNum}
	</select>
	
	<select id="selectOption" resultType="ezen.nowait.store.domain.MenuOptionVO">
		select * from menu_option where menu_option_num = #{menuOptionNum}
	</select>
	<!-- 
	<select id="selectOptionCnt" resultType="_int">
		select count(*) from menu_option where menu_num = #{menuNum}
	</select>
	 -->
	<insert id="insertOption">
		insert into menu_option
		values(null, #{menuNum}, #{option}, #{optionPrice}, #{optionStatus})
	</insert>
	
	<update id="updateOption">
		update menu_option
		set menu_num = #{menuNum},
		option = #{option},
		option_price = #{optionPrice},
		option_status = #{optionStatus}
		where menu_option_num = #{menuOptionNum}
	</update>
	
	<delete id="deleteOption">
		delete from menu_option where menu_option_num = #{menuOptionNum}
	</delete>
	
	<delete id="deleteAll">
		delete from menu_option where menu_num = #{menuNum}
	</delete>
	
</mapper>