<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ezen.nowait.member.mapper.OwnerMapper">
	
	<select id="selectOwner" resultType="ezen.nowait.member.domain.OwnerVO">
		select * from owner where owner_id = #{ownerId}
	</select>
	
	<insert id="insertOwner">
		insert into owner
		values(#{ownerId}, #{ownerPw}, #{ownerName}, #{ownerBirth}, #{ownerPhone}, #{ownerEmail}, default)
	</insert>
	
	<update id="updateOwner">
		update owner
		set owner_pw = #{ownerPw},
		owner_name = #{ownerName},
		owner_birth = #{ownerBirth},
		owner_phone = #{ownerPhone},
		owner_email = #{ownerEmail}
		where owner_id = #{ownerId}
	</update>
	
	<delete id="deleteOwner">
		delete from owner where owner_id = #{ownerId}
	</delete>
</mapper>