<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ezen.nowait.store.mapper.StoreMapper">

	<select id="selectAll" resultType="ezen.nowait.store.domain.StoreVO">
		select * from store order by order_cnt desc
	</select>
	
	<!-- <select id="selectByCategory" resultType="ezen.nowait.store.domain.StoreVO">
		select * from store where store_category = #{storeCategory} order by order_cnt desc
	</select> -->
	
	<select id="selectByOwnerId" resultType="ezen.nowait.store.domain.StoreVO">
		select * from store
		where cr_num in(
			select cr_num
			from owner_store
			where owner_id = #{ownerId}
		)
	</select>
	
	<select id="selectStoreByCrNum" resultType="ezen.nowait.store.domain.StoreVO">
		select * from store where cr_num = #{crNum}
	</select>
	
	<insert id="insertStore">
		insert into store
		values(#{crNum}, #{secretCode}, #{storeName}, #{storeCategory}, #{storeAddr}, #{storeTel}, #{storeEmail}, #{opentime}, #{storeInfo}, default, default)
	</insert>
	
	<!-- (owner_id, cr_num, secret_code) -->
	<insert id="insertOwnerStore" parameterType="hashMap">
		insert into owner_store
		values(#{ownerId}, #{crNum})
	</insert>
	
	<update id="updateStore">
		update store
		set store_name = #{storeName},
		secret_code = #{secretCode},
		store_category = #{storeCategory},
		store_addr = #{storeAddr},
		store_tel = #{storeTel},
		store_email = #{storeEmail},
		opentime = #{opentime},
		store_info = #{storeInfo}
		where cr_num = #{crNum}
	</update>
	
	<update id="orderCntUp">
		update store
		set order_cnt = order_cnt + 1
		where cr_num = #{crNum}
	</update>
	
	<update id="reviewSet" parameterType="hashMap">
		update store
		set review_cnt = #{reviewCnt}
		where cr_num = #{crNum}
	</update>
	
	<!-- <update id="updateOwnerStore">
		update owner_store
		set secret_code = #{secretCode}
		where cr_num = #{crNum}
	</update> -->
	
	<update id="reviewSet" parameterType="hashMap">
		update store
		set review_cnt = #{reviewCnt}
		where cr_num = #{crNum}
	</update>
	
	<delete id="deleteStore">
		delete from store where cr_num = #{crNum}
	</delete>
	
	<delete id="deleteAllByCrNum" parameterType="hashMap">
		delete from owner_store where cr_num = #{crNum}
	</delete>
	
	<delete id="deleteOwnerStoreOneByOwnerId" parameterType="hashMap">
		delete from owner_store where cr_num = #{crNum} and owner_id = #{ownerId}
	</delete>
	
	<delete id="deleteAllByOwnerId">
		delete from owner_store where owner_id = #{ownerId}
	</delete>
	
</mapper>